/* 전역 css 정의 */

h1 {
    color: red;
    font-size: 30px;
    background-color: yellow;
}

/* id 지정 */
#main_head{
    color: aqua;
    font-weight: 100;
}

/* class 지정 */
.head_title{
    background-color: gray;
}
/* footer 영역 css 정의 */
h5{
    font-size: 10px;
    background-color: gray;
    color: #222222;
    text-align: center;
}

h5:hover{
    background-color: blue;
}

/* 지정 값에 따라 css 정의 */
a[target="_blank"]{
    color: orange;
}

/* , , , 콤마로 하면 한 번에 지정하는거임 */
h2, h3{
    color: blueviolet;
}

/* p150 */
/* > 자식 하나 적용 */ 
/*  스페이스 하나면 그 아래 있 */

a:link{
    color: cyan;
}

a:visited{
    color: red;
}

#title_gear:hover{
    color: red;
}

input:focus{
    background-color: orangered;
}

div.main{
    width: 200px;
    height: 50px;
    background-color: #dddddd;
    text-align: center;
    border: blue inset 10px;
    margin: 10px 50px 20px 30px;
    padding: 5px 2px 5px 2px;
    border-radius: 10px;
}

div:hover button{
    color: red;
    text-decoration: underline;
}

div#sub_btn:hover button{
    width: 100vw;
    color: rgba(0, 0, 255, 0.2);
    font-weight: bolder;
    font-size: 20px;
    background-image: url(../src/human.png);
    /* background-size: cover; */
    background-repeat: no-repeat;
}

 button{
    font-style: italic;
    margin: 10px;
}